</head>
<body>
    <div class="loader">Now Loading...<div class="load"></div></div>
    <header>
        <h1>Cool Music</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/songs">Songs</a></li>
                <li><a href="/songs/add">Add Song</a></li>
            </ul>
        </nav>
    </header>
    <main>