</head>
<body>
    <div class="loader">Please Wait Loading...<div class="load"></div></div>
    <header>
        <h1>Cool Music</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/songs">Songs</a></li>
                <li><a href="/songs/add">Add Song</a></li>
              <% if(user){%>
                    <li><a href="/logout">Log-out</a></li>
                    <h1 class="icon"><ion-icon name="search-circle"></ion-icon></h1>
                    </ul>
                    <p>User:<%=user.username%></p> 
               <% } else{%>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    <h1 class="icon"><ion-icon name="search-circle"></ion-icon></h1>
                
                </ul>
               <%}%>
                   
      <form action="/search" method="GET" class="search off">
        <input type="text" name="song" placeholder="enter song name"> 
    <input type="submit" value="Search" >
    </form>
        </nav>

    </header>
    <main>