<%-include('partials/header')%>
<link rel="stylesheet" href="/css/home.css">
<%-include('partials/nav')%>
<section class="top">
   <img src="http://2.bp.blogspot.com/-cmcUPFl0fLc/USBzMxvVXiI/AAAAAAAABmw/65-Pv__HVFI/s1600/weeknd-the-502a99d94aa39.jpg" alt="stars">
   <img src="https://townsquare.media/site/812/files/2019/10/la-flame.jpg?w=1200&h=0&zc=1&s=0&a=t&q=89" alt="stars">
   <img src="https://youcancallmejoshua.com/wp-content/uploads/2020/05/dj-alan-walker-4782-1024x640.jpg" alt="star">
</section>
    
    
    <%-include('partials/footer')%>
   