<%-include('partials/header')%>
<link rel="stylesheet" href="/css/home.css">
<%-include('partials/nav')%>
<section class="top">
   <img src="http://2.bp.blogspot.com/-cmcUPFl0fLc/USBzMxvVXiI/AAAAAAAABmw/65-Pv__HVFI/s1600/weeknd-the-502a99d94aa39.jpg" alt="stars">
   <img src="https://townsquare.media/site/812/files/2019/10/la-flame.jpg?w=1200&h=0&zc=1&s=0&a=t&q=89" alt="stars">
   <img src="https://youcancallmejoshua.com/wp-content/uploads/2020/05/dj-alan-walker-4782-1024x640.jpg" alt="star">
</section>
    
    <section class="songs">
       <div class="text"><h1>
      Welcome 
       </h1>
      <p>This is website to add your all the cool musics you like. You can share and explore the music of others too. 
         You can see all the musics and their reviews by the person who heard it and you can comment on it. 
      </p>
   <a href="/songs">View Songs</a></div>
   <img src="http://usustatesman.com/wp-content/uploads/2016/09/charlie-puth-concert-66.jpg" alt="charlie">
    </section>
    <section class="songs two">
      <img src="https://i.pinimg.com/736x/54/4a/52/544a520024cdc618df6e6c4dafb8e1ad--dj-concert.jpg" alt="marsh">
      <div class="text"><h1>
     Welcome 
      </h1>
     <p>This is website to add your all the cool musics you like. You can share and explore the music of others too. 
        You can see all the musics and their reviews by the person who heard it and you can comment on it. 
     </p>
  <a href="/songs/add">Add Song</a></div>
   </section>
    <%-include('partials/footer')%>
   