<%-include('partials/header')%>
<link rel="stylesheet" href="/css/wish.css">
<link href='https://fonts.googleapis.com/css?family=Amita' rel='stylesheet'>
<%-include('partials/nav')%>
<div class="wish">
    <h1>Happy Birth Day</h1>
    <p>
        I promise this card isn’t late. It is intentionally arriving after your birth-day, because I think you deserve a whole birth-month. Happy Birth-month but I am
         also late for that so Happy Birth-Year Enjoy!
        <br>
        You’re old enough to recognize your mistakes but young enough to make some more.
        <br>
        A wise man once said, “Forget about your past, you cannot change it”. I’d like to add: “Forget about your present, I didn’t get you one”.
        <br>
        I spent hours searching the internet for the perfect birthday message for you and then I gave up. Happy Birthday
    
    </p>
    <q>From SF</q>
</div>

<%-include('partials/footer')%>