body{
    overflow-x: hidden;
    --btn:var(--black);
}
main{
    margin: 0;
    margin-top: 2px;
    width: 100%;
}
.top img{
    width: 25%;
    transform: skew(15deg);
    flex-grow: 1;
}
.top{
    width: 100%;
 display: flex; 
 justify-content: center;  
 background-color: var(--dark-green);

}
.songs{
    width: 100%;
    display: flex;
    text-align: left;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.247);
    font-size: 1.4rem;
    margin: 20px auto;
}
.text{
    width: 80%;
    padding: 10px;
}
.text>*{
    margin-top: 10px;
    display: block;
}
.songs img{
    width: 25vw;
}
.songs a{
    display: inline-block;
width: fit-content;
    text-decoration: none;
    border: 1px solid orange;
    background-color: orange;
    color: var(--black);
    padding: 5px;
    border-radius: 5px;
}
.songs a:hover{
    transform: scale(1.1);
    background-color: rgb(160, 104, 1);
}
.two{
  text-align: right;
}
.two a{
    display: inline-block;
}
.card{
    background-color:rgba(0, 0, 0, 0.247) ;
}
.new{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.card{
    flex-basis: 25vw;
    margin: 0 20px;
    padding: 30px;
}
.card  h1{
    border-bottom: 1px solid white;
    padding: 5px;

}
.card>*{
    margin: 20px auto;
}
.card p{
    line-height: 30px;
    letter-spacing: 2px;
}
.card a{

    text-decoration: none;
    color: black;
    background-color: var(--btn);
    font-size: 1.5rem;
    padding: 5px;
}
.card a:hover{
    background-color: black;
    transform: scale(1.2);
    color:var(--black)
}
@media only screen and (max-width: 900px){
    body, html{
        font-size: 80%;
    }
    .card {
        flex-basis:100%;
        margin: 0 20px;
        padding: 5px 15px;
        font-size: 1.2rem;
    }
   .card a{ display: inline-block;}
}
@media only screen and (max-width: 700px){
    body, html{
        font-size: 60%;
    }
    .card p{
        line-height: 20px;
    }
}
@media only screen and (max-width: 600px){
    .songs {
        width: 50%;
        display: flex;
        text-align: center;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.247);
        font-size: 1.4rem;
        margin: 20px auto;
        flex-wrap: wrap;
    }
    .songs img {
        margin: 0 auto;
    }
    .text{
        order: 1;
        margin: 0 auto;
        padding: 0;
    }
}
@media only screen and (max-width: 400px){
    .card {
        flex-basis: 100%;
        margin: 20px;
        padding: 5px 15px;
        font-size: 1.5rem;
    }
    .new{
        flex-direction: column;
        padding: 0;
    }
    .songs{
        width: 100%;
        font-size: 1.5rem;
    }
    .songs img {
        width: 100%;
    }

}