:root{
    --black :#282828 ;
    --dark-black:#181818;
    --green:#67D89A; 
    --dark-green:#34BEA5; 
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: auto;
    font-family:sans-serif ;
}
body{
    background-color: var(--dark-black);
    color: white;
    font-size: 16px;
    text-align: center;
}
header{
    background-color: var(--black);
    box-shadow: 5px 0 4px 1px var(--green);
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: var(--green);
}
nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
nav ul li{
    margin: 0 10px;
    font-size: 1.5rem;

}
nav ul li a{
text-decoration: none;
color: var(--dark-green);
}
nav ul li a:hover{
    color: var(--green);
}
main{
    min-height: 100vh;
    margin: 10px auto;
  
}
footer{
    background-color: var(--black);
}
.loader{
    background-color: var(--black);
    padding: 0px;
    display: grid;
    place-items: center;
    position: fixed;
    top:0;
    left: 0;
    /* height: 100%; */
    width: 100%;
    z-index: 999;
}
.load{
    width: 25px;
	height: 25px;
	border: 10px solid rgba(141, 140, 140, 0.3);
	border-top-color:var(--green);
	border-bottom-color: var(--dark-green);
	padding: 50px;
	margin:10px auto;
	border-radius: 100%;
	animation: rotate 1s linear infinite;
}
@keyframes rotate{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
.off{
    display: none;
}
.icon{
    font-size: 2.1rem;
}
.icon:hover{
transform: scale(1.4);
cursor: pointer;
}
.search input{
    background-color: var(--dark-black);
    border: none;
    padding: 10px;
    color: white;
}
.search input[type=submit]:hover{
background-color: var(--dark-green);
cursor: pointer;
}